form{
   margin-top: 120px; 
    
 }
 .navbar{
     padding: 30px;
     transition: 0.5s;
 }
 .scroll{
     background: #010201;
 }
 .navbar-brand{
     font-weight: bold;
     font-style: italic;
     padding-left: 150px;
     font-size: 50px;
     color: #7d1313 !important;
     text-transform: capitalize;
 }
 .navbar-nav{
     padding-left: 300px;
 }
 .nav-link{
     font-weight: bold;
     font-style: italic;
     color: red !important;
     margin-left: 5px;
     transition: 0.6s;
     border-radius: 20px;
     text-transform: capitalize;
 }
 .nav-link:hover {
     transform: translateY(-20px);
     background: #dc3445;
 }
 .form-label{
    margin-left: 20px;
    font-style: italic;
    font-weight: bold;

 }
 h1{
    margin-left: 15px;
    font-weight: bold;
    font-style: italic;
 }