<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toolbar.css') }}">
</head>
<body>
    <button rel="noopener" target="_blank" type="text" class="btn"><a href="Signin">LOG OUT</a></button>

    <h1>GEN_P0P</h1>
    
    <br>
    <nav class="navbar">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#"></a></li>
        </ul>
           
    </nav>
        
    <div class="container">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>