<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/h.css') }}">
</head>
<body>
    <div class="flex wrapper flex-col">
    <div>
        <a href="main" class="navbar-brand colour-r">Pr0ject-X</a>
       <nav class="nav colour-m">
        <div> 
            <ul class="list">
                <li class="navbar"><a href="main" class="nav-link">HOME</a></li>
                <li class="navbar"><a href="profile" class="nav-link">Profile</a></li>
                <li class="navbar"><a href="#" class="nav-link">Creation</a></li>
                <li class="navbar"><a href="#" class="nav-link">Search</a></li>
                <li class="log_out"><a href="logout" class="nav-link">Logout</a></li>
                
            </ul>
        </div>
        </nav>
    </div>
    </div>
    
    
    <h1 class=" wrapper boarder">Interior Expo 2024</h1>
    <section class=" wrapper ">
            
                <div >
                    <div class="mid">
                        <img class="float-l padding-right-50" src="{{url_for('static',filename='/css/image/c5.webp')}}" width="600px" height="600px">
                    </div>
           
                 
                    <div>
                        <div>
                            
                                <h1>About:</h1>
                                   
                                <h5>Interior Expo 2024" in concurrent with "Build India 2024", is an exhibition on the Design & Construction in India, organized by Fair Exhibitions Pvt Ltd. This is the Exhibition organized completely focused on building material, interior design, lighting, etc</h5>
                                <br>
                                <h4>Highlights</h4>
                                <ul>
                                    <li>Popular among visitors for:
                                        Top 100 in Building & Construction in India</li>
                                    <li>Recommended for:
                                        Architects & Interior Designers</li>
                                    
                                </ul>
                            <br>
                        </div>
                        <div>
                            <h1>Time:</h1>
                            <div class="flex gap-1">
                                <div>
                                    <img src="{{url_for('static',filename='/css/image/alarm.png')}}" width="35px">
                                </div>
                                <div>
                                    <h3>25 Jul 2024</h3>
                                    <h3>27 Jul 2024</h3>
                                </div>
                            </div>

                            <div>
                                <h2>VENUE:</h2>
                                <div class="flex gap-1">
                                    <div>
                                        <img src="{{url_for('static',filename='/css/image/ping.png')}}" width="35px"> 
                                    </div>
                                    <div>
                                        <h3>Pragati Maidan, New Delhi, India</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>    
    </section>
    
    
    <h1 class=" wrapper boarder">RELATED EVENTS :</h1>
    <h6>. </h6>
    <div class="card-container event">
        
        <div class="card">
            <a href="content6">
                <img src="{{url_for('static',filename='/css/image/c6.webp')}}">
            </a>
            <div class="card-content">
                <h3><a href="content6" class="btn">Construction Architecture Interior Expo 2024</a></h3>
                <p>Construction Architecture & Interior is the ideal opportunity for your organization to access major developers, contractors ... 
                </p>
                <a href="content6" class="btn">Read more</a>
            </div>
        </div>
        <div class="card">
            <a href="content7">
                <img src="{{url_for('static',filename='/css/image/c7.webp')}}" >
            </a>
            <div class="card-content">
                <h3><a href="content7" class="btn">Road InfraTech Expo 2024</a></h3>
                <p>The Road InfraTech Expo is set to be one of the most important roads infrastructure event. The event is set to inspire and encourage knowledge exchange and to showcase innovative technologies, materials...
                </p>
                <a href="content7" class="btn">Read more</a>
            </div>
        </div>
        <div class="card">
            <a href="HIMTEE">
                <img src="{{url_for('static',filename='/css/image/c2.webp')}}">
            </a>
            <div class="card-content">
                <h3><a href="HIMTEE" class="btn">HIMT Engineering Expo 2024</a></h3>
                <p>The 8th edition of the Hyderabad International Machine Tool & Engineering Expo (HIMTEX) offers an excellent... 
                </p>
                <a href="HIMTEE" class="btn">Read more</a>
            </div>
        </div>
        

    </div>
    
     
    
    
</body>
</html>