<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/h.css') }}">
</head>
<body>
    <div class="flex wrapper flex-col">
    <div>
        <a href="main" class="navbar-brand colour-r">Pr0ject-X</a>
       <nav class="nav colour-m">
        <div> 
            <ul class="list">
                <li class="navbar"><a href="main" class="nav-link">HOME</a></li>
                <li class="navbar"><a href="profile" class="nav-link">Profile</a></li>
                <li class="navbar"><a href="#" class="nav-link">Creation</a></li>
                <li class="navbar"><a href="#" class="nav-link">Search</a></li>
                <li class="log_out"><a href="logout" class="nav-link">Logout</a></li>
                
            </ul>
        </div>
        </nav>
    </div>
    </div>
    
    
    <h1 class=" wrapper boarder">Hyderabad International Machine Tool & Engineering Expo 2024</h1>
    <section class=" wrapper ">
            
                <div >
                    <div class="mid">
                        <img class="float-l padding-right-50" src="{{url_for('static',filename='/css/image/hd2.webp')}}" width="600px" height="600px">
                    </div>
           
                 
                    <div>
                        <div>
                            
                                <h1>About:</h1>
                                   
                                <h5>The 8th edition of the Hyderabad International Machine Tool & Engineering Expo (HIMTEX) offers an excellent platform for untapped opportunities in the field of machine tools, engineering, robotics and automation and to experience technologically sound innovations.Over the years, HIMTEX has transformed into one of the most progressive industrial exhibitions in India. The event has been instrumental in contributing significantly to transforming the manufacturing capabilities of the state of Telangana and the neighboring states.</h5>
                                <br>
                                <h4>Highlights</h4>
                                <ul>
                                    <li>Buyer - Seller Meet at the Exhibition Venue</li>
                                    <li>Roadshows at major Industrial Clusters</li>
                                    <li>300+ Exhibitors and 10500+ sq. mtrs. Exhibiting Area</li>
                                    <li>Partcipation from across India</li>
                                    <li>100's of machineries on live display</li>
                                    <li>Popular among visitors for</li>
                                </ul>
                            <br>
                        </div>
                        <div>
                            <h1>Time:</h1>
                            <div class="flex gap-1">
                                <div>
                                    <img src="{{url_for('static',filename='/css/image/alarm.png')}}" width="35px">
                                </div>
                                <div>
                                    <h3>16 Aug 2024</h3>
                                    <h3>19 Aug 2024</h3>
                                </div>
                            </div>

                            <div>
                                <h2>VENUE:</h2>
                                <div class="flex gap-1">
                                    <div>
                                        <img src="{{url_for('static',filename='/css/image/ping.png')}}" width="35px"> 
                                    </div>
                                    <div>
                                        <h3>Hitex Exhibition Center, Hyderabad, India</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </div>    
    </section>
    
    
    <h1 class=" wrapper boarder">RELATED EVENTS :</h1>
    <h6>. </h6>
    <div class="card-container event">

        <div class="card">
            <a href="content4">
                <img src="{{url_for('static',filename='/css/image/c4.webp')}}">
            </a>
            <div class="card-content">
                <h3><a href="content4" class="btn">Medicall Chennai 2024 </a></h3>
                <p>Medicall Chennai is India's leading B2B Medical Equipment Exhibition that connects dealers, distributors, importers, exporters, sales and business  
                </p>
                <h5>...</h5>
                <a href="content4" class="btn">Read more</a>
            </div>
        </div>

        <div class="card">
            <a href="content5">
                <img src="{{url_for('static',filename='/css/image/c5.webp')}}">
            </a>
            <div class="card-content">
                <h3><a href="content5" class="btn">Interior Expo</a></h3>
                <h3><a href="content5" class="btn">2024</a></h3>
                <p>Interior Expo 2024" in concurrent with "Build India 2024", is an exhibition on the Design & Construction in India, organized by Fair Exhibitions Pvt Ltd. This is the Exhibition 
                </p>
                <h6>...</h6>
                <a href="content5" class="btn">Read more</a>
            </div>
        </div>
        
        <div class="card">
            <a href="content6">
                <img src="{{url_for('static',filename='/css/image/c6.webp')}}">
            </a>
            <div class="card-content">
                <h3><a href="content6" class="btn">Construction Architecture Interior Expo 2024</a></h3>
                <p>Construction Architecture & Interior is the ideal opportunity for your organization to access major developers, contractors ... 
                </p>
                
                <a href="content6" class="btn">Read more</a>
            </div>
        </div>
        

    </div>
    
     
    
    
</body>
</html>