
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toolbar.css') }}">
</head>
</head>
<body>
    <header class="header">
        <nav>
             <ul class="list">
                 <li class="navbar"><a href="main">HOME</a></li>
                 <li class="navbar"><a href="profile">Profile</a></li>
                 <li class="navbar"><a href="#">Creation</a></li>
                 <li class="navbar"><a href="#">Search</a></li>
                 <form action="logout">
                    <li class="log_out"><button>LOG OUT</button></li>
                 </form>
             </ul>
         </nav>
     </header>
    <div class="navbar-brand">
        <a herf="">
            GEN_P0P
        </a>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Hai Bhai</h1>
    <br>
    <section>
        <a href="marriage">
            <img src="{{url_for('static',filename='hd1.jpg')}}" width="500px">
        </a>
        <div>
            <h1>marriage</h1>
        </div>
    </section>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, recusandae odit ea dolore aperiam accusamus inventore similique, optio libero labore amet. Ducimus numquam facilis mollitia vero quo temporibus labore nisi?
        Totam tempora mollitia atque quod harum libero voluptates ipsam esse delectus sint praesentium minus hic quidem fugit, cum officiis consectetur facere dicta non blanditiis laboriosam recusandae! Voluptas ullam minima necessitatibus.
        Id quasi at a ex eos molestiae mollitia possimus recusandae, molestias et cumque quia, iure, amet omnis perspiciatis sequi! Optio qui magnam nulla temporibus sequi atque ab itaque earum non.
        Vel quia quod velit est doloribus in obcaecati! Accusantium architecto officia pariatur, reprehenderit cum obcaecati ullam perferendis laudantium qui, veniam similique libero, quaerat quo quasi mollitia. Voluptatem cupiditate commodi ipsa.
        Eius rem dolorem corrupti atque mollitia consequuntur, repellat rerum odit est? Sequi ad reprehenderit explicabo alias quibusdam vero corrupti debitis totam voluptas velit rem sit, corporis qui? Quis, obcaecati earum.
        Quas pariatur sunt dolore ullam, iste minus voluptates amet veniam expedita culpa a at non aliquid enim esse illo nostrum repudiandae distinctio ducimus nisi dolorem sit qui aspernatur. Quae, omnis.
        Unde dolor, dolores modi, cum exercitationem, doloribus magni amet eligendi aliquam ullam dolorem id asperiores perferendis molestiae neque illum. Temporibus ex amet recusandae labore incidunt cupiditate veniam commodi veritatis sit.
        Modi, itaque suscipit impedit accusantium reiciendis quasi repudiandae eveniet nihil excepturi animi veritatis sint labore. Dicta corporis a quam tempora quasi praesentium doloremque! Placeat, atque alias nostrum optio eos magni?
        Ad eveniet dolores, at alias neque repudiandae minus eos ipsa impedit, tenetur sunt culpa dolorum sed! Enim aliquid mollitia, molestiae, explicabo minus officia pariatur delectus nulla modi et qui necessitatibus.
        Saepe tenetur delectus, reiciendis dolores corrupti error, tempora totam magni animi eligendi pariatur ipsum incidunt voluptates doloremque labore impedit officiis quaerat ipsam reprehenderit. Et obcaecati veniam, magni voluptates blanditiis vitae.
        Ullam maiores laudantium sed, omnis a ipsa, culpa saepe sit distinctio voluptatum itaque iste soluta magni nulla, ipsam laboriosam velit repellat odit odio neque enim. Esse tempore non nesciunt eligendi.
        Aspernatur qui consequatur quo inventore repellat iusto quasi, soluta necessitatibus eligendi ad vitae dolore rem corrupti maiores sed vero ipsam sunt alias assumenda doloremque commodi deserunt officia nemo quod. Accusantium?
        Nemo, nostrum! Vero voluptatibus, repudiandae nam fugit numquam eius? Beatae explicabo a et totam excepturi aspernatur assumenda? Reiciendis consequuntur sapiente ex maxime tempora dolore repellendus, hic odit quis alias ipsa.
        Iure odio temporibus quasi asperiores ullam assumenda ipsum animi dolores alias, possimus doloremque repudiandae odit, autem ducimus quidem mollitia modi aliquid commodi voluptatum quae. Illum alias vel animi sit tenetur!
        Nam, ipsum! Tempore mollitia dolore laudantium aspernatur atque delectus nihil, minima, saepe repudiandae esse illo cupiditate provident, beatae error? Reiciendis doloribus ipsum optio animi suscipit! Consequuntur ullam delectus sapiente alias?
        Sequi, corrupti? Eligendi autem consectetur dolores perferendis ratione nemo nostrum libero! Nisi consequuntur ullam eos debitis minima, ex culpa quos vel enim perspiciatis at eveniet mollitia iure rerum rem et.
        Dolorum delectus quidem quia repellendus aperiam nisi explicabo aliquam voluptates itaque tempora, iusto, quibusdam rem cupiditate harum mollitia excepturi reiciendis nesciunt odit illum sequi eum nemo dignissimos laborum eius. A.
        Aliquid, ex nobis corporis qui dolorum recusandae reiciendis quidem dignissimos doloremque, nemo totam dolorem dolores, in iusto aut? Excepturi quae repellendus assumenda eveniet voluptate omnis mollitia eaque alias cumque incidunt!
        Asperiores, molestiae fuga consequuntur inventore ex cupiditate assumenda autem rem quis, reprehenderit quia praesentium commodi eaque, nesciunt odit vero consequatur eius optio non perferendis? Soluta cum modi ipsam ad deserunt.
        Quasi amet ipsum, neque explicabo aut sit beatae enim blanditiis, quaerat voluptates quam cumque commodi exercitationem architecto ducimus, eaque distinctio nobis minus sapiente quod deserunt sint? Inventore accusantium est dolore?
        Doloremque nihil aut voluptas accusantium ad, officiis dicta! Perferendis vel veniam, nesciunt mollitia harum consectetur aspernatur, modi enim nostrum fugit accusantium obcaecati necessitatibus corporis maxime neque. Corrupti laborum totam ut.
        Labore dignissimos deserunt ratione at recusandae iure facilis impedit quibusdam, sed eum, a aliquam accusamus doloribus beatae. Accusamus expedita vitae sunt tempora eos, ipsam nesciunt perspiciatis voluptas reiciendis corrupti sint.
        Eveniet quos, accusantium expedita, veniam quia eius consectetur alias voluptatibus tenetur distinctio velit quae adipisci natus repellat sequi voluptate beatae odit repudiandae labore ut. Hic rem explicabo nostrum autem consequatur!
        Consequatur et delectus veritatis, sint cum in. Itaque doloremque, rerum, tempore corporis excepturi consequatur aliquid recusandae ab, delectus quam consequuntur! Laboriosam nostrum non quam quas id assumenda excepturi nisi voluptatibus.
        Quam ut voluptatem mollitia tempora, ipsa, perspiciatis eos harum impedit at incidunt dolore accusamus iusto dicta optio? Hic optio nobis rem reprehenderit id maiores perferendis, at consequuntur? Facere, deserunt ea.
        Voluptatibus odio rerum corporis itaque quo dolorem quibusdam architecto blanditiis. Dolorem, soluta cupiditate! Hic expedita fugiat eius consectetur maxime repudiandae laboriosam beatae. Facere molestiae eligendi, voluptatibus voluptates veniam expedita corrupti.
        Adipisci incidunt ex fuga dolorum ducimus magni sint soluta cumque consectetur voluptatum facilis rerum error voluptatibus expedita velit laborum, distinctio fugiat ipsa dolorem id recusandae quas! Deleniti exercitationem labore tempora.
        Eaque, ut adipisci, eius nobis libero voluptatem sapiente pariatur in fuga eligendi culpa aut esse enim repellat dicta facere sequi voluptatum. Cum recusandae asperiores exercitationem, mollitia tempora nobis quo esse.
        Repellat ipsum illo cupiditate libero ipsam accusamus dicta delectus culpa soluta, aut iure facilis quae commodi atque dolore sapiente temporibus nulla eligendi corporis? Esse eum ducimus ex libero, repellendus possimus.
        Autem, incidunt! Blanditiis libero excepturi cumque tenetur reiciendis, possimus non quos voluptatibus ipsam dolore sapiente nostrum officiis. Aperiam labore voluptate, vero, ipsum deleniti accusamus tenetur unde harum qui, ullam laborum!
        Sapiente, delectus adipisci? Ea culpa earum aperiam beatae deserunt? Iure dolor consequuntur doloribus molestias nostrum. Laudantium, voluptates earum sequi qui excepturi quaerat ipsam, sed ea animi officiis reprehenderit non facilis?
        Iste sunt assumenda mollitia at explicabo voluptatum harum aliquam consectetur quod, natus distinctio deserunt, commodi quo culpa aut illo magnam nostrum cumque est provident ipsum? Consequuntur porro obcaecati consectetur labore.
        Nam dolor, laborum maiores dignissimos esse reiciendis id doloremque pariatur, ipsam beatae vel eaque magni sit error consectetur deleniti nostrum repellendus saepe ex a maxime quam! Explicabo natus culpa impedit.
        Assumenda aperiam non a molestias repellendus cumque eum tempora quod voluptatem mollitia, facere, distinctio maxime expedita, dolore odit adipisci quos earum! Iste similique nesciunt, dolor delectus amet dolore fugiat nisi.
        Animi tenetur rem ea corporis, modi est aperiam reiciendis odit quidem error facilis dolores sequi nulla quibusdam repellendus delectus doloribus soluta, nemo, repudiandae minima tempora nobis? Temporibus quos eum veritatis!
        Quia et, cumque laboriosam provident illum exercitationem voluptate nobis in, deserunt tempora quibusdam voluptas veniam fugit at eos, numquam doloremque suscipit vero a? Repellendus, incidunt at corrupti numquam sed aspernatur.
        Sapiente, ipsum ex. Obcaecati, alias voluptatem voluptates magnam, facilis aperiam temporibus quo quas nobis, atque natus et quam. Quas hic accusantium nulla neque nisi sequi excepturi aspernatur consequatur tempore incidunt.
        Aliquid totam aperiam possimus, perferendis distinctio odio nihil nulla veritatis debitis eaque temporibus tempora dolorum? Quo eius illum facere placeat, harum voluptatem, inventore exercitationem pariatur dolorem repudiandae fugiat, aperiam architecto?
        Aliquid aut praesentium quae rerum iste quod totam? Distinctio exercitationem consequatur beatae, accusantium itaque veniam voluptates nobis iste magni alias adipisci ut esse eius similique non. Suscipit voluptas modi nihil?
        Maxime, doloribus temporibus impedit cupiditate nostrum incidunt sapiente nulla accusantium neque saepe ex quidem quos distinctio ratione aliquid nemo eaque, officiis explicabo corrupti eveniet. Eaque ullam quaerat excepturi quibusdam fugit!
        Ea impedit rerum quasi aliquam dicta ex, minus accusamus eius ratione deleniti qui. Animi sequi aperiam assumenda iure repellat, ipsum obcaecati officiis eaque nostrum. Doloribus maiores laboriosam quo illo laborum!
        Eligendi tenetur, quis consequuntur fugiat tempore perferendis placeat illo laborum inventore quod vitae quisquam minima rerum excepturi, voluptatum dolorum incidunt asperiores ipsum alias eum beatae fuga non autem expedita. Exercitationem!
        Similique esse molestias assumenda molestiae, atque, excepturi quasi aperiam aliquid laudantium illo vitae quae tempora quis alias voluptatibus soluta. Est earum consequuntur optio excepturi velit maxime quo tempore, dolor aspernatur.
        Eveniet deserunt in sunt? Voluptatem, minus autem. Nulla amet, illo culpa quae delectus quod quos molestias nihil pariatur nisi tempore officiis aspernatur omnis, cum quidem et soluta autem provident voluptas.
        Aperiam laudantium quibusdam eaque harum ratione ab voluptas rerum? Facilis porro quibusdam et adipisci laborum provident molestiae quidem quae ut, voluptatibus sequi assumenda necessitatibus exercitationem rem ex. Voluptate, aut obcaecati.
        Incidunt, perferendis corrupti distinctio architecto reiciendis unde aliquam hic ab ullam nostrum nam minima ipsum quae! Iste a tempore minus voluptas optio, inventore corporis, quas sed perspiciatis hic, reiciendis quisquam!
        Voluptatem nemo, impedit rerum repudiandae eveniet quos voluptates recusandae, inventore, doloremque adipisci ea consequuntur reprehenderit harum fugit unde explicabo illo quas provident placeat. Facilis quo vero voluptate, eos vel labore?
        Quis impedit dolores harum, quaerat exercitationem esse illo iure minus unde eveniet consequuntur repudiandae totam ex maiores sit doloremque voluptate tempora libero fuga natus? Nihil autem officia vel voluptatem ullam.
        Corporis aspernatur minus facere cum porro sint natus magnam, aut aperiam quidem, excepturi repudiandae accusamus! Repellat repudiandae ut earum blanditiis hic culpa sint adipisci, pariatur, repellendus aliquam incidunt dolores ad.
        Recusandae asperiores at inventore omnis dolores. Cupiditate optio, id nesciunt dolorum nisi voluptatibus fugit, quibusdam ut earum iste officiis praesentium natus accusantium dolores, odio est iure. Odio quos ab eum.
    </p>
    <h1>ai Bhaih</h1>
    
   
</body>    
</html>

