<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Sign up</title>
</head>
<body>
    <div class="terms">
        <form action="">
          <h1>SiGn UP</h1>
          <br>
          <h5>Please enter your password</h5>
          <div class="passwords">
            <label></label>
            <input type="password" placeholder="Password" required>
            <i class='bx bx-lock-alt' ></i>
            <br>
            <br>
            <input type="password" placeholder="Confirm Password" required>
            <i class='bx bx-lock-alt' ></i>
          </div>  
            <div class="remember-forgot">
               
                <input type="checkbox">
                <a href="#">Terms and conditions</a>
                <br><br>
                <button type="submit" class="btn">Sign Up</button>
          
            </div>
          
        </form>
    </div>
            
</body>
</html>