<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Sign up</title>
</head>
<body>
    <div class="terms">
        <form  action="{{ url_for('register') }}" method="post" autocomplete="off">
          
          <h1>SiGn UP</h1>
          

          <div class="infield">
            <input type="text" name="username" placeholder="Username" >
            <i class='bx bxs-user'></i>
          </div>

          <div class="infield">
            <input type="email" name="email" placeholder="Email" >
            <i class='bx bx-envelope'></i>
            <label></label>
          </div>

          <div class="infield">
            <input type="password" name="password" placeholder="Password" required>
            <i class='bx bx-lock-alt' ></i>
          </div>

          <div class="infield">
            <input type="password" name="confirm_password" placeholder="Confirm_password" required>
            <i class='bx bx-lock-alt' ></i>
          </div>

          <div class="infield">
            <input type="phoneno" name="phoneno" placeholder="phoneno" required>
            <i class='bx bx-phone'></i>
          </div>

          <div class="infield">
            <input type="text" name="content" placeholder="Addictional contact (Optional)" >
            <i class='bx bx-phone'></i>
          </div>

          <div>
            <input type="checkbox" name="terms" required>
            <a href="terms">
            <label for="terms">Terms ND conditions</label>
            </a>
          </div>

          
          <div class="msg">{{ msg }}</div>
          <br>
          <button type="submit" value="Register" class="btn">Sign Up</button>
          
        </form>
      </div>
            
</body>
</html>